.ExperienceCard {
    flex: 1;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.ExperienceBody{
    display: flex; 
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1400px) {
    .ExperienceBody {
      flex-direction: column;
    }
}