.image {
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.div1text {
  font-size: 35px;
  font-weight: 700;
  font-family: "Trebuchet MS";
  color: white;
}

.headDiv {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 350px;
}

.div2Title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Trebuchet MS";
  color: white;
  align-items: center;
  text-align: center;
  /* padding-top: 10px; */
  /* border-bottom: 1px solid rgb(255, 5, 5); */
  border-bottom-style: solid;
  background-color: rgb(5, 155, 255);
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  border-color: rgb(5, 155, 255);
}
